#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:123123ee
  expire: False


ssh_authorized_keys:
  - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCugEsc9LwipPX1YA2mDdnSZCc7IFqYOkPZ3GcA21hmnu8O0OhTvV+VLbLpsO5GsEse+l+lONnFXUOkElEL5+hYrWdF/e328Rr3Yc1JiAYerhXFN/tnBPqaC8shXPDIVckF5ES/j8ZRwiC9wPTACB8tSn60nFW7VaI/Yb1uoDFyDNAXZ+/D9TGxp8FolggPNUhQfNvIMo+FqpBguO72OWmotRIp3bC8Amv8UzNS+hPBkgQ6E5kdDet1DJkcCLg76Y2vhV8LxPtkUa2i0aHtA+v+aH0w5Yko7qtnBxzW/bZGybBZojsJxcWDxxZOpckjChA2Afaz1h3naxuD7OGVbrAbQIrhZgG17jDmkQzEpkeTpCG7A7j5KdfwFVlX8bvNGoCuv++LBgFUeffoRuvj+wSbjBAMBz+JshmcsTu/JW939zCph/mntSvIHNl3hN8SkNbDtLxpVbfFdhVinaIBTQuF+TuFO/SwtujZVEUEqvRGRUQW3I1MZRZn8mpPXVblq4M= xi@nixos
#users:
#  - name: node
#    sudo: ALL=(ALL) NOPASSWD:ALL
#    groups: users, admin, wheel
#    passwd: 123123ee
#    shell: /bin/bash
#    ssh_authorized_keys:
#      -	ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCugEsc9LwipPX1YA2mDdnSZCc7IFqYOkPZ3GcA21hmnu8O0OhTvV+VLbLpsO5GsEse+l+lONnFXUOkElEL5+hYrWdF/e328Rr3Yc1JiAYerhXFN/tnBPqaC8shXPDIVckF5ES/j8ZRwiC9wPTACB8tSn60nFW7VaI/Yb1uoDFyDNAXZ+/D9TGxp8FolggPNUhQfNvIMo+FqpBguO72OWmotRIp3bC8Amv8UzNS+hPBkgQ6E5kdDet1DJkcCLg76Y2vhV8LxPtkUa2i0aHtA+v+aH0w5Yko7qtnBxzW/bZGybBZojsJxcWDxxZOpckjChA2Afaz1h3naxuD7OGVbrAbQIrhZgG17jDmkQzEpkeTpCG7A7j5KdfwFVlX8bvNGoCuv++LBgFUeffoRuvj+wSbjBAMBz+JshmcsTu/JW939zCph/mntSvIHNl3hN8SkNbDtLxpVbfFdhVinaIBTQuF+TuFO/SwtujZVEUEqvRGRUQW3I1MZRZn8mpPXVblq4M= xi@nixos
